# Week 2

## Task 2 : Stock price prediction using linear regression

In [1]:
# Import the quandl package
import quandl
import pandas as pd
import matplotlib.pyplot as plt
from warnings import filterwarnings
filterwarnings('ignore')

## Data Collection and Analysis

In [2]:
# Get the data from quandl
df = pd.read_csv('C:/Users/NIKITA/Desktop/EOD-AAPL.csv')

In [3]:
# Print first five rows of dataset
df.head()

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
0,2017-12-28,171.00,171.850,170.480,171.08,16480187.0,0.0,1.0,41.136972,41.341454,41.011877,41.156217,65920748.0
1,2017-12-27,170.10,170.780,169.710,170.60,21498213.0,0.0,1.0,40.920461,41.084047,40.826640,41.040745,85992852.0
2,2017-12-26,170.80,171.470,169.679,170.57,33185536.0,0.0,1.0,41.088858,41.250038,40.819183,41.033528,132742144.0
3,2017-12-22,174.68,175.424,174.500,175.01,16349444.0,0.0,1.0,42.022259,42.201241,41.978957,42.101646,65397776.0
4,2017-12-21,174.17,176.020,174.100,175.01,20949896.0,0.0,1.0,41.899570,42.344619,41.882730,42.101646,83799584.0

In [4]:
# Shape of dataset 
df.shape

(1090, 13)

In [5]:
# Basic information of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1090 entries, 0 to 1089
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1090 non-null   object
 1   Open        1090 non-null   float64
 2   High        1090 non-null   float64
 3   Low         1090 non-null   float64
 4   Close       1090 non-null   float64
 5   Volume      1090 non-null   float64
 6   Dividend    1090 non-null   float64
 7   Split       1090 non-null   float64
 8   Adj_Open    1090 non-null   float64
 9   Adj_High    1090 non-null   float64
 10  Adj_Low     1090 non-null   float64
 11  Adj_Close   1090 non-null   float64
 12  Adj_Volume  1090 non-null   float64
dtypes: float64(12), object(1)
memory usage: 110.8+ KB

In [6]:
df=df[['Adj_Open','Adj_High','Adj_Low','Adj_Close','Adj_Volume']]

In [7]:
df['HL_PCT'] = (df['Adj_High'] - df['Adj_Low'])/ df['Adj_Close']*100.0
df['PCT_change'] = (df['Adj_Close'] - df['Adj_Open'])/ df['Adj_Open']*100.0

In [8]:
df.head()

,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_change
0,41.136972,41.341454,41.011877,41.156217,65920748.0,0.800795,0.046784
1,40.920461,41.084047,40.826640,41.040745,85992852.0,0.627198,0.293945
2,41.088858,41.250038,40.819183,41.033528,132742144.0,1.050009,-0.134660
3,42.022259,42.201241,41.978957,42.101646,65397776.0,0.527970,0.188917
4,41.899570,42.344619,41.882730,42.101646,83799584.0,1.097080,0.482287

In [9]:
#For above we can also use,
#df['HL_PCT'] = (df.iloc[:,:1] - df.iloc[:,:2])/ df.iloc[[:,:3]]*100

## Data Manipulation and Feature Engineering

After data analysis, we can conclude that 'Adj. Close','PCT_change','HL_PCT','Adj. Volume' are important features.

In [10]:
# Create dataframe of above features
df = df[['Adj_Close','HL_PCT','Adj_Volume','PCT_change']]

In [11]:
df.head()

   Adj_Close    HL_PCT   Adj_Volume  PCT_change
0  41.156217  0.800795   65920748.0    0.046784
1  41.040745  0.627198   85992852.0    0.293945
2  41.033528  1.050009  132742144.0   -0.134660
3  42.101646  0.527970   65397776.0    0.188917
4  42.101646  1.097080   83799584.0    0.482287

In [12]:
df.fillna(value = -99999,inplace=True)

In [13]:
X = df.iloc[:,:-1]
y = df.iloc[:,:4]

## Build and Train ML model

In [14]:
# Splitting train and test dataset
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [15]:
# Scaling features using normalization
from sklearn.preprocessing import MinMaxScaler
norm = MinMaxScaler().fit(X_train)

# transform training data
X_train_norm = norm.transform(X_train)
X_test_norm = norm.transform(X_test)

In [16]:
# Perform Linear regression
from sklearn.linear_model import LinearRegression
# Create a model and fit it
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
# Predictions
y_pred = model.predict(X_test_norm)

## Test Model

In [18]:
from sklearn.metrics import mean_squared_error 
mse = mean_squared_error(y_test,y_pred)
print("Mean squared error: ",round(mse))

Mean squared error:  1.535088332206915e+16